* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.red-text {
    color: red;
}

.btn {
    height: 40px;
    font-size: 1rem;
    background-color: red;
    border: red;
    color: white;
    padding: 5px 25px;
    cursor: pointer;
    border-radius: 2px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0c1239;
    color: white;
    border-bottom: 1px solid white;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 775px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header ul li a {
        padding-left: 10px;
        margin-top: 5px;
    }
}

header ul li {
    list-style: none;
    padding-left: 10px;
}

header ul li a {
    text-decoration: none;
    color: white;
}

header ul li a:hover {
    color: red;
}

/* main banner section */
.main-banner-div {
    background-image: url('./assets/hero-img.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main-banner-content {
    position: absolute;
    top: 50%;
    left: 5%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 50%;
    color: white;
}

.main-banner-content h1 {
    font-size: 4rem;
}

.main-banner-content p {
    font-size: 1.2rem;
    margin: 10px 0;
}

#main-banner-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-banner-info {
    background-color: red;
    color: white;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    border-radius: 8px;
    padding: 40px 15px;
    transform: translateY(-50%);
}

.main-banner-info h3 {
    margin-bottom: 10px;
}

.main-banner-info p {
    margin-bottom: 5px;
}

@media (max-width: 970px) {
    .main-banner-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 10px 20px;
        transform: translateY(2%);
        width: 90%;
        margin: 10px 0;
    }

    .bottom-padding-10 {
        padding-bottom: 10px;
    }

    .main-banner-info p {
        padding-bottom: 10px;
    }

    .main-banner-content {
        position: absolute;
        top: 50%;
        left: 5%;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        width: 70%;
        color: white;
    }

    .main-banner-content h1 {
        font-size: 2.5rem;
    }
    
    .main-banner-content p {
        font-size: 1rem;
        margin: 10px 0;
    }
}

/* company features section */
#company-features-sec {
    background-color: #f8f9fa;
    text-align: center;
    padding: 50px 20px;
}

#company-features-sec h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.company-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.company-features h3 {
    margin: 8px 0;
}

.company-features p {
    padding: 0 20px;
}

.company-features-warehousing {
    flex: 1;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.company-features-support {
    flex: 1;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.company-features-tracking {
    flex: 1;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.company-features-insurance {
    flex: 1;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.company-features-warehousing img {
    width: 50px;
}

.company-features-support img {
    width: 50px;
}

.company-features-tracking img {
    width: 50px;
}

.company-features-insurance img {
    width: 50px;
}

@media (max-width: 775px) {
    .company-features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 10px 20px;
    }

    .company-features p {
        padding-bottom: 50px;
    }

    #company-features-sec {
        margin-top: 25px;
        padding-bottom: 10px;
    }
}

/* company services section */
#company-services-sec {
    background-color: white;
    color: black;
    padding: 50px 20px;
    margin: 20px 0;
}

#company-services-sec h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    padding: 5px 10px;
    text-align: center;
}

#company-services-sec h3 {
    margin-bottom: 8px;
}

.company-services {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 20px 30px;
}

.company-services-cards {
    flex: 1;
}

.company-mission {
    flex: 1;
    justify-content: start;
    padding-left: 20px;
}

.company-mission-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.company-mission-content p {
    color: gray;
    padding-bottom: 15px;
}

#company-mission-first-p {
    margin-top: -30px;
}

.service-card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 90px;
    box-shadow: 1px 1px 2px rgba(171, 171, 171, 0.5);
    padding: 10px 10px;
    margin: 20px;
}

.card-icon {
    display: flex;
    background-color: red;
    border-radius: 5px;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 10px;
}

.service-card img {
    width: 60px;
    filter: invert(100%);
}


.card-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 10px;
}

#contact-us-btn {
    margin-top: 25px;
}

.service-card p {
    color: gray;
}

@media (max-width: 770px) {
    .company-services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .company-services-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .service-card {
        padding: 5px;
        margin: 10px 0;
    }

    .service-card p {
        color: gray;
    }

    .company-services p {
        padding-bottom: 10px;
    }

    #our-mission-heading {
        margin-top: 20px;
    }

    #company-services-sec {
        padding: 0;
    }
}

/* work for customers section */

#work-for-customers-sec {
    background-color: #f8f9fa;
    text-align: center;
    padding: 50px 20px;
}

#work-for-customers-sec h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.company-work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.company-work h3 {
    margin: 8px 0;
}

.company-work p {
    padding: 0 20px;
}

.company-work-online {
    flex: 1;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.company-work-doc {
    flex: 1;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.company-work-support {
    flex: 1;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.company-work-dest {
    flex: 1;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.company-work-online img {
    width: 50px;
}

.company-work-doc img {
    width: 50px;
}

.company-work-support img {
    width: 50px;
}

.company-work-dest img {
    width: 50px;
}

@media (max-width: 775px) {
    .company-work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 10px 20px;
    }

    .company-work p {
        padding-bottom: 10px;
    }

    .company-work p {
        padding-bottom: 50px;
    }
}

/* company's global services section */
#company-global-services-sec {
    background-color: white;
    color: black;
    padding: 50px 20px;
    margin: 20px 0;
}

#company-global-services-sec h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

#company-global-services-sec h3 {
    margin-bottom: 8px;
}

.global-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.global-services-and-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.global-services-img-frame {
    width: 320px;
    margin: 5px;
}

.global-services img {
    width: 100%;

}

.global-services-btn {
    font-size: 1rem;
}

.global-services h3 {
    text-align: center;
    color: white;
    transform: translateY(-250%);
}

.global-services a {
    text-decoration: none;
    color: white;
}

/* team section */
#team-sec {
    background-color: #f8f9fa;
    text-align: center;
    padding: 50px 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#team-sec h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
}

.team-members {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 10px 5px;
}

.team-member p {
    padding: 5px 0;
    color: gray;
    font-size: 0.9rem;
}

.team-member-img-frame {
    width: 250px;
}

.team-member-img-frame img {
    width: 100%;
}

/* pricing section */
#pricing-sec {
    background-color: white;
    color: black;
    text-align: center;
    padding: 50px 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#pricing-sec h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
}

.pricing-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: #f8f9fa;
    border-top-right-radius: 20px;
    padding: 40px 40px;
    margin: 10px 15px;
}

.pricing-card p {
    padding-bottom: 10px;
    font-size: 1.1rem;
}

.pricing-card-fainted {
    padding-bottom: 10px;
    font-size: 1.1rem;
    color: rgb(186, 184, 184);
}

#pricing-p {
    padding: 20px 0;
    font-size: 2rem;
    color: gray;
}

.pricing-card button {
    margin-top: 30px;
    padding-right: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f8f9fa;
    color: red;
    border: red 1px solid;
}

.pricing-card button:hover {
    margin-top: 30px;
    padding-right: 20px;
    border-bottom-right-radius: 20px;
    background-color: red;
    color: white;
    border: white 1px solid;
}

.premium-pricing-card {
    background-color: red;
    color: white;
}

#premium-pricing-p {
    padding: 20px 0;
    font-size: 2rem;
    color: white;
}

/* blog section */
#blog-sec {
    background-color: #f8f9fa;
    text-align: center;
    padding: 50px 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

#blog-sec h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
}

.blog-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 10px 40px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 10px 10px;
    margin: 10px 5px;
    width: 30%; 
    min-width: 300px; 
}

.blog-card a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.blog-card a:hover {
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

.blog-card img {
    width: 100%;
}

.blog-card h3 {
    padding: 10px 0;
}

.blog-card p {
    padding: 10px 0;
    color: gray;
    font-size: 0.9rem;
}

#blog-sec button {
    margin-top: 40px;
    padding: 10px 30px;
    font-size: 1.1rem;
}

/* footer */
footer {
    background-color: #0c1239;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    height: auto;
    padding: 80px 10px;
}

footer p {
    padding-top: 15px;
}

.quick-links a {
    text-decoration: none;
    color: white;
}

.quick-links a:hover {
    color: red;
}

.services-footer a {
    text-decoration: none;
    color: white;
}

.services-footer a:hover {
    color: red;
}

.logo-footer {
    display: flex;
    flex: 1.5;
    flex-wrap: wrap;
    align-items: start;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.quick-links {
    flex: 1;
    align-items: start;
}

.services-footer {
    flex: 1;
}

.newsletter-footer {
    display: flex;
    flex: 1.5;
    flex-wrap: wrap;
}

.newsletter-footer p {
    padding-right: 10px;
}

#emailInput {
    height: 40px;
    border: #212529;
    margin-right: 2px;
}

#emailInput:focus {
    outline: none;
    border: #212529;
}

form {
    margin-top: 5px;
}

@media (max-width: 775px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 30px 20px;
    }

    .logo-footer {
        padding-left: 0;
    }

    footer p {
        padding-bottom: 10px;
    }
}